AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=change_me
AIRFLOW__CORE__FERNET_KEY=change_me

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=airflow
POSTGRES_PASSWORD=change_me
POSTGRES_DB=ecommerce_dw

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=change_me
MINIO_BUCKET=ecommerce-landing
MINIO_SECURE=false

KAGGLE_USERNAME=
KAGGLE_KEY=

CURRENCY_API_BASE_URL=https://api.frankfurter.app